<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Registro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ingresa la siguiente información</h3>
  <form action="">
    <ion-list>
      <ion-item>
        <ion-icon name="md-person" item-start></ion-icon>
        <ion-label stacked>Nombre:</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
