<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Nuestros primeros pasos en Ionic</h3>

  <p>
    Gracias por su atención, empezamos a aprender el desarrollo de Aplicaciones Híbridas.
  </p>
  <ion-card>
    <ion-card-header>Título</ion-card-header>
    <ion-card-content>
      Éste es el contenido de mi primer Card.
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item>
      <ion-label>
        Top Videojuegos
      </ion-label>
      <ion-select [(ngModel)]="juegos" multiple="true">
        <ion-option value="cal">Call Of Duty</ion-option>
        <ion-option value="mar">Mario Bross</ion-option>
        <ion-option value="fif">FIFA 2019</ion-option>
        <ion-option value="hal">HALO IV</ion-option>
        <ion-option value="unc">Uncharted</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button color="primary" (click)="Mensaje()">Menú</button>
  <button ion-button color="secondary" (click)="goToPremium()">Premium</button>
</ion-content>